/*
    Main CSS
*/

@import "_normalize.less";
@import "_mixin.less";
@import "_variable.less";

@import url(http://fonts.googleapis.com/css?family=Economica:400,700);

/* Common Styles */

// Common

html,
body {
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif;
    background: @bg url('../dist/images/bg.png');
    color: @base;
    -webkit-font-smoothing: antialiased;
}

a {
    color: @link;

    &:hover {
        color: @hover;
    }

}

::selection,
::-moz-selection {
    background: @selection;
    color:#fff;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Economica', sans-serif;
    a,a:hover {
        color: @base;
        text-decoration: none;
    }
}

// ボタン

.btn {
    .inline-block;
    text-align: center;
    padding: .6em 1.2em;
    cursor: pointer;
    line-height: 1.5;
    font-size: 90%;
    .border-radius(3px);
    overflow: hidden;
    color: @base;
    background-color: @btn;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,.15);
    &:hover {
        background-color: @btn-hover;
        color: @base;
        text-decoration: none;
        border: 1px solid rgba(0,0,0,.2);
    }
}

.btn-primary {
    background-color: @btn-primary;
    color: #fff;
    border: 1px solid @btn-primary;
    &:hover {
        background-color: @btn-primary-hover;
        color: #fff;
        border: 1px solid @btn-primary-hover;
    }
}

.btn-large {
    padding: .6em 1.3em;
    font-size: 110%;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}

/* End Common Styles */

html,body {
  height: 100%;
}

.container {
    width: 820px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    h1 {
        font-size: 600%;
        margin: .1em 0;
    }
}

.row {
    .clearfix;
    .span {
        width: 50%;
        float: left;
    }

    .span-r {
      text-align: center;
    }

    .makibot {
        background: #fff url('../dist/images/paper.png');
        .box-shadow(0,0,4px,rgba(0,0,0,.15));
        padding: 15px;
        -moz-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        margin-top: 3em;
    }
}

.screenshot {
    .box-shadow(0,0,6px,rgba(0,0,0,.3));
}

.footer {
    text-align: center;
    margin-top: 1em;
}

.social-buttons {
    margin-bottom: 2em;

    div,
    a,
    iframe {
        display: inline-block;
        vertical-align: middle !important;
        margin-right: 4px !important;
    }

    .fb-like {
        width: auto !important;
        display: inline-block !important;
    }
}

@import "_media-queries.less";